{% extends "base_generic.html" %}

{% block content %}


        <div class="container">


	<p> Hello add new one </p>
	        <div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center">
				
    				<form class="form-signini" method="post" action="{% url 'add_event' %}">  
				{% csrf_token %}
				  <label >Email address</label>
				<input type="text" class="form-control" name="name" placeholder="Name of the event" required="true" autofocus="" />
				<input type="text" class="form-control" name="platz" placeholder="Address of the event" required="true"/>
				<textarea type="text" class="form-control" name="opts" placeholder="Insert every option in one line." required="true" rows="4"></textarea>
				<button class="btn btn-md btn-primary btn-block" type="submit">Create</button>
				</form>

				

			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
		</div>



	</div>
{% endblock %}
