<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}<title>TLUG event</title>{% endblock %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 		{% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body >
		<div id="wrap">

			<!-- header-->
			<div class="container">
				<div class="page-header">
					<div class="row">
						<div class="col-md-8 font-weight-bold"><a href="{% url 'main' %}" style="color:black"><h4>Tlug_event</h4></a></div>
						<div class="col-md-4 text-right">
						   	{% if user.is_authenticated %}
								<a href="{% url 'profile'%}">Profile</a><br>
     								<a href="{% url 'logout'%}">Logout</a>   
   							{% else %}
     								<a href="{% url 'login'%}">Login</a>   
   							{% endif %} 
						</div>
					</div>
               			 </div>
            		</div>

			<!-- header end -->



			{% block content %}{% endblock %}




			<!-- footer-->
			
      			<div class="container">
						
					<div class="col-md-12 text-center">
					<div id="footer">
					<a href="https://gitlab.com/shervinmoheban/lug_event"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
					</div>
					</div>
    			</div>
			<!-- footer end -->

       		 </div>
	</body>
