{% extends "base_generic.html" %}

{% block content %}

        <div class="container">
        	<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center">


				<form class="form-signin" method="post" action="{% url 'login' %}">
				{% csrf_token %}
      					<h2 class="form-signin-heading">Please login</h2>
					<br>
      					<input type="username" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
					<br>
					<input type="password" class="form-control" name="password" placeholder="Password" required=""/>
      					<label class="checkbox">
        				<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      					</label>
					<br>
      					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
					<a href="{% url 'newuser' %}">Create new one ? </a>

					{% if error %}
					<p style="color:red;"> user name or password incorrect</p> 
					{% endif %}
    				</form>
  			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>

		</div>
	
	</div>
	

{% endblock %}
