{% extends "base_generic.html" %}

{% block content %}
	<div class="container">
		<div class="col-md-12">
			{% if fragen %}
				<h2>Your events</h2>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>name</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
					{% for frage in fragen %}
						<tr>
							<td>{{ frage.name }} - {{ frage.platz }}</td>
							<td> 
							<a href="{% url 'detail' frage.id %}"><i class="fa fa-eye" style="font-size:20px"></i></a>
							<a href="{% url 'edit' frage.id %}"><i class="fa fa-pencil-square-o" style="font-size:20px"></i>
							<a href="{% url 'remove' frage.id %}"><i class="fa fa-trash" style="font-size:20px;color:red"></i> </a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<a href="{% url 'add_event' %}" class="btn btn-info btn-md">
          				<span class="glyphicon glyphicon-plus-sign"></span> add
       					</a>
			{% else %}
			<h2> you don't have any event</h2>
			<p>Add new one
			<a href="{% url 'add_event' %}" class="btn btn-info btn-md">
          			<span class="glyphicon glyphicon-plus-sign"></span>add
       				</a>
			</p>
			{% endif %}
					
		</div>
	</div>
{% endblock %}
