      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      #page-header {
	background-color:#cce6ff;
	
      }
      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
	width:100%;
	left: 0;
        height: 30px;
	position: fixed;
    	bottom: 0;
    	text-align: center;
      }
      #footer {
	    background-color: #111a00;

      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
