{% extends "base_generic.html" %}

{% block content %}
	



			<div class="wrapper">
    				<form class="form-signin">       
      					<h2 class="form-signin-heading">create account form </h2>
					<br>
      					<input type="text" class="form-control" name="username" placeholder="Email Address" required="true" autofocus="" />
					<br>
      					<input type="password" class="form-control" name="password" placeholder="Password" required="true"/>      
					<br>
  				<!--	<input type="email" class="form-control" name="email" placeholder="Email(optional)" required="false"/>
				<br> -->
      					<button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>   
    				</form>
  			</div>
{% endblock %}

